.centerText{
    text-align: center;
}

.centered {
    height: 90vh; /* Magic here */
    display: flex;
    justify-content: center;
    align-items: center;
  }

.navlink { 
    display: flex; 
    justify-content: center; 
}

.robotoFont{
    font-family: 'Roboto Serif', sans-serif;
}

.navBarPadding{
    padding-top: 10px;
    padding-bottom: 10px ;
}


